/* 
Fonts 
- 'IBM Plex Sans', sans-serif;
- 'Poppins', sans-serif
*/
/*  
Colors

*/

/* General */
body {
  font-family: "IBM Plex Sans", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.container-fluid,
.container {
  padding-left: 24px;
  padding-right: 24px;
}

.container-none {
    width: 1371px;
    height: 561px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1080px;
  }
}

.container-fluid-bundle {
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 570px) {
    .container-fluid-bundle {
        width: 570px;
    }
}

/* Navbar */
#navbar a.navbar-brand {
  font-weight: 600;
}

/* -------- Landing Page -------- */
/* Hero Section */
#hero {
  background-image: url(./images/hero-brewlab.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#hero h1 {
  padding-top: 150px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  #hero {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #hero h2 {
    font-size: x-large;
  }
}

#bundle {
  background-image: url(./images/BUNDLES-BANNER-RESIZE.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#bundle h1 {
  padding-top: 150px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  #bundle {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #bundle h2 {
    font-size: x-large;
  }
}

#bundles-banner {
    max-width: 100%;
    height: auto;
}

/* Content */
.scrollableRow {
  overflow-x: auto;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 18px;
  padding-right: 18px;
}

.scrollableRow > [class*="col-"] {
  padding-left: 6px;
  padding-right: 6px;
}

.scrollableRow .filler {
  min-width: 18px;
}

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

/* @media (max-width: 767px) {
  .headings h3 {
    font-size: 18px;
  }
} */

/* Content Cards */

#content-cards .cards {
  height: 20%;
}

/* @media (max-width: 575px) {
  #content-cards .card {
    height: 30vh;
  }
} */

/* Footer */

.footerNav h5,
.footerNav a {
  font-size: 14px;
}
.footerNav h5 {
  line-height: 18px;
}
.footerNav .social {
  font-size: 18px;
  height: 18px;
}
.footerBar small {
  font-size: 14px;
}

/* -------- The Lab -------- */
/* Hero Section */
#heroshop {
  background-image: url(./images/hero-shop.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#heroshop h1 {
  padding-top: 150px;
  font-weight: 600;
}

.card-body p {
  font-size: small;
}

@media (min-width: 1200px) {
  #heroshop {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #heroshop h2 {
    font-size: x-large;
  }
}

/* -------- The Lab -------- */
/* Hero Section */
#herolab {
  background-image: url(./images/hero-lab.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#herolab h1 {
  padding-top: 150px;
  font-weight: 600;
}

.card-body p {
  font-size: small;
}

.card {
  height: 95%;
}

@media (min-width: 1200px) {
  #herolab {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #herolab h2 {
    font-size: x-large;
  }
}

/* Content */

/* -------- About Us -------- */
/* Hero Section */
#heroabout {
  background-image: url(./images/hero-about.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#heroabout h1 {
  padding-top: 150px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  #heroabout {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #heroabout h2 {
    font-size: x-large;
  }
}

/* Founders section */
#founders img {
  width: 140px;
  height: 140px;
}

@media (max-width: 400px) {
  #founders img {
    width: 70px;
    height: 70px;
  }
}

/* -------- FAQS -------- */
/* Hero Section */
#herofaq {
  background-image: url(./images/hero-faq.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#herofaq h1 {
  padding-top: 150px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  #herofaq {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #herofaq h2 {
    font-size: x-large;
  }
}

/* ---------------------------------------------- */
/* SHOP */
/* ---------------------------------------------- */
.shop { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shop-heading {
  font-size: 30px;
  margin-bottom: 15px;
}

.shop-section {
  margin-top: 70px;
}

.buttonshop {
  background-color: #f0ad4e;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
}

.buttonshop:hover {opacity: 1}
span>a:hover {
  text-decoration: none;
  color: black;
  background-color: #ffaf4d;
} 

/* Shop Items */

/* Bundles */

.bundles {
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.bundles__img {
  /* height: 18rem; */
  height: auto;
  /* max-width: 100%; */
  width: 100%;
  margin: 0px auto 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bundles__main {
  text-align: center;
}

.bundles__main h3 {
  margin-top: 5px;
  font-size: 20px;
}

.bundles__main p {
  margin-top: 10px;
}

/* Kits */

.kits {
  
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.kits__img {
  /* height: 18rem; */
  height: 300px;
  /* max-width: 100%; */
  width: 470px;
  margin: 0px auto 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.kits__main {
  text-align: center;
}

.kits__main h3 {
  margin-top: 5px;
  font-size: 20px;
}

.kits__main p {
  margin-top: 10px;
}

/* Ingredient Kits */

.flavors {
  
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flavors__img {
  /* width: 100%; */
  /* height: auto; */
  height: 11rem;
  max-width: 100%;
  margin: 0px auto 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.flavors__main {
  text-align: center;
}

.flavors__main h3 {
  margin-top: 5px;
  font-size: 20px;
}

.flavors__main p {
  margin-top: 10px;
}